<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <center><h1>index</h1></center>
        <center>
        <ol>
            <li th:each="alue: ${alueet}">
                <a th:href="@{~/alueet/{id} (id=${alue.id})}"><span th:text="${alue.nimi}">Alue nimi</span></a>
                [ <span th:text="${alue.aikaleima}">aikaleima</span>]
                [ <span th:text="${alue.maara}">maara</span>]
            </li>
        </ol>
        </center>
        <p/>
        <p/>
        <center>
        <form method="POST" action="/alueet">
            Lisää alue (max 50 merkkiä): <br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää uusi alue"/>
        </form>
        </center>
    </body>
</html>
