<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Tämä on ketju</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${ketju.nimi}">ketju</span>!</h1>

        <p>Olet saapunut ketjuun: <span th:text="${ketju.nimi}">ketju</span> </p>

        <form method="POST" action="/ketju">
            Uusi viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lähetä"/>
        </form>
        
    </body>
</html>
