#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:550px;
    height: 20px;
/*    background: #ff0000;*/
}

#center {
    display: inline-block;
    margin:0 auto;
    width:50px;
    height: 20px;
}

#right {
    float:right;
    width:300px;
    height: 20px;
}