<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ketjun viestit</title>
        <meta charset="UTF-8" />
        
    </head>

    <body>
        
       <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.viesti}">Viesti nimi</span>
                <span th:text="${viesti.kirjoittaja}">Kirjoittaja</span>
            </li>
        </ol>

        <form method="POST">
            Kirjoittaja:  <br/>
            <input type="text" name="kirjoittaja"/><br/>
            Lisää viesti: <br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lisää uusi viesti"/>
        </form>
    </body>
</html>
