<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelufoorumi || viestit</title>
        <meta charset="UTF-8" />
        
    </head>

    <body>
        <center>
       <ol>
            <li th:each="viesti: ${viestit}">
                @: <span th:text="${viesti.kirjoittaja}">Kirjoittaja</span><br/>
                [ <span th:text="${viesti.aikaleima}">aika</span>]<br/>
                <span th:text="${viesti.viesti}">Viesti nimi</span><br/><br/>  
            </li>
        </ol>
        </center>
        <p/>
        <p/>
        <center>
        <form method="POST" id="kentta">
            Kirjoittaja (max 16 merkkiä):  <br/>
            <input type="text" name="kirjoittaja"/><br/>
            Viesti (max 500 merkkiä): <br/>
            <textarea rows="4" cols="50" name="viesti" form="kentta"></textarea><br/>
            <input type="submit" value="Lisää uusi viesti"/>
        </form>
        
        </center>
    </body>
</html>
